@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: normal;
    src: local('PT Serif'), local('PTSerif-Regular'), url('./newsprint/pt-serif-v9-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: normal;
    src: local('PT Serif'), local('PTSerif-Italic'), url('./newsprint/pt-serif-v9-latin-italic.woff') format('woff');
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: bold;
    src: local('PT Serif'), local('PTSerif-Bold'), url('./newsprint/pt-serif-v9-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: bold;
    src: local('PT Serif'), local('PTSerif-BoldItalic'), url('./newsprint/pt-serif-v9-latin-700italic.woff') format('woff');
}


html {
    font-size: 16px;
    color: #1f0909;
}

body {
    font-family: "PT Serif", 'Times New Roman', Times, serif;
    color: #34495e;
    /*-webkit-font-smoothing: antialiased;*/
    line-height: 1.6rem;
    /*font-size: 0.5rem*/
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
    color: #1f0909;
}

p{
    font-size: 1.0rem
}
ol,ul{
    font-size: 1.0rem
}

body > *:first-child {
    margin-top: 0 !important;
}

body > *:last-child {
    margin-bottom: 0 !important;
}


a {
    color: #999966;
    font-weight: 600;
    padding: 0 2px;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}

h1 tt,
h1 code {
    font-size: inherit !important;
}

h2 tt,
h2 code {
    font-size: inherit !important;
}

h3 tt,
h3 code {
    font-size: inherit !important;
}

h4 tt,
h4 code {
    font-size: inherit !important;
}

h5 tt,
h5 code {
    font-size: inherit !important;
}

h6 tt,
h6 code {
    font-size: inherit !important;
}

/*下面是标题链接的颜色*/
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
    /*color: #42b983;*/
    color: #666666;
}

h1 {
    padding-bottom: .4rem;
    font-size: 1.8rem;
    line-height: 1.3;
    font-style: normal;
    border-bottom: none;
}

h2 {
    font-size: 1.6rem;
    line-height: 1.225;
    margin: 35px 0 15px;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
    font-style: normal;
}

h3 {
    font-size: 1.4rem;
    /*line-height: 1.43;*/
    margin: 20px 0 7px;
    font-style: normal;
}

h4 {
    font-size: 1.3rem;
    font-style: normal;
}

h5 {
    font-size: 1.2rem;
    font-style: normal;
}

h6 {
    font-size: 1.1rem;
    /*color: #777;*/
    font-style: normal;
}

p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}

li > ol,
li > ul {
    margin: 0 0;
}

p pre {
    border: none;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}

body > h3:first-child,
body > h4:first-child,
body > h5:first-child,
body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
    margin-top: 0;
}

li p.first {
    display: inline-block;
}

ul,
ol {
    padding-left: 30px;
}

ul:first-child,
ol:first-child {
    margin-top: 0;
}

ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

blockquote {
    border-left: 4px solid #42b983;
    /*padding: 10px 10px;*/
    color: #2B3F52;
    background-color: #F7F9FA;
    border-left-color: #ECF0F3;
}

table {
    padding: 0;
    word-break: initial;
    font-size: 1.0rem
}

table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n),
thead {
    background-color: #fafafa;
}

table tr th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
    font-size: 1.0rem
}

table tr td {
    border: 1px solid #dfe2e5;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
    font-size: 0.8rem
}

table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

p code{
    border: none !important;
    color: #ff6666;
    background-color: #f8f8f8 !important;
    /*border: none;*/
}

strong {

    color:#FF9933;

    size: 100px;

    margin: 0em;

    font-size: inherit;

    /*font-style: italic;*/

}

@media print {
    html {
        font-size: 13px;
    }

    table,
    pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }
    h1,h2,h3,h4,h5,h6 {
    	color: #336699;
    	page-break-inside: avoid;
    	page-break-after: avoid;
    }
    img { 
     page-break-inside:avoid;
     page-break-after:avoid;
 	}
 	table,pre { page-break-inside:avoid}
    ul,ol,dl{ page-break-before:avoid}
    a{page-break-inside:avoid}
    blockquote {page-break-inside: avoid;}
}

/*blockquote{
	border-left-color: #ECF0F3;
}*/


